<%-include("../partials/head.ejs") %>
<main>
    <form action="/product/create" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="name">Nombre: </label>
            <input type="text" name="name">
        </fieldset>
        <fieldset>
            <label for="image">Imagen: </label>
            <input type="file" name="image" style="border: none;">
        </fieldset>
        <fieldset>
            <label for="price">Precio: </label>
            <input type="number" name="price" min="1">
        </fieldset>
        <fieldset>
            <label for="description">Descripcion:</label><br>
            <textarea name="description" cols="30" rows="15" style="min-width: 300px;min-height: 100px;max-width: 600px; max-height: 200px;border-radius:0px;"></textarea>
        </fieldset>
        <fieldset>
            <label for="quantity">Cantidad: </label>
            <input type="number" name="quantity" min="1">
        </fieldset>
        <fieldset>
            <label for="color">Color: </label>
            <select name="color" >
                <% for(i=0;i<colors.length;i++) {%>
                        <option value="<%=colors[i].id %>"><%=colors[i].color %></option>
                    <% } %>
            </select>
        </fieldset>
        <fieldset>
            <label for="type">Tipo de producto: </label>
            <select name="type" >
                <% for(i=0;i<types.length;i++) {%>
                        <option value="<%=types[i].id %>"><%=types[i].type %></option>
                    <% } %>
            </select>
        </fieldset>
        <fieldset>
            <label for="company">Marca: </label>
            <select name="company">
                <% for(j=0;j<companys.length;j++) {%>
                        <option value="<%=companys[j].id %>"><%=companys[j].company %></option>
                    <% } %>
                </select>
        </fieldset>
        <button type="submit">Crear Producto</button>
    </form>
</main>
</body>
</html>