<%- include("../partials/head") %>
<%- include("../partials/header") %>
<main>
<section class="images">
    <picture class="big-picture">
        <img src="/images/<%=product.image %>" alt="">
    </picture>
    <div>
        <i class="fa-solid fa-chevron-left"></i>
        <picture class="carousel">
            <img src="/images/<%=product.image %>" alt="">
            <img src="/images/<%=product.image %>" alt="">
            <img src="/images/<%=product.image %>" alt="">
        </picture>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</section>
<section class="product-form">
<form action="product/add" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for="name" class="product-name"><%= product.name %></label>
        <input type="hidden" name="name">
    </fieldset>
    <fieldset>
        <label for="price">Precio: <%=product.price %>$</label>
        <input type="hidden" name="price">
    </fieldset>
    <fieldset>
        <label for="quantity">Cantidad:</label>
        <% if (product.quantity > 0) { %>
            <input type="number" min="1" max="<%=product.quantity %>" name="quantity" value="1" class="quantity">
        <% } else {%>
            <p>No Disponible</p>
        <% } %>
        
    </fieldset>
    <fieldset>
        <label class="description"><%=product.description %></label>
    </fieldset>
    <fieldset>
        <% if (product.quantity > 0) { %>
            <button type="submit">Agregar al carrito</button>
        <% } %>
</fieldset>
</form>
</section>
</main>
<%- include("../partials/footer") %> 