<%-include("./partials/head") %>
<%-include("./partials/header") %>
<main>
    <h1>Productos destacados</h1>
    <section class="product-carousel">
        <span><i class="fa-solid fa-chevron-left"></i></span>
        <article class="product-info">
            <picture>
                <img src="/images/motorola-g42.jpg" alt="">
            </picture>
            <ul class="product-description">
                <li>Nombre: Motorola G42</li>
                <li>Precio: 56.999$</li>
                <li>Descripcion: Procesador Octa-Core 2.4 GHz.<br>
                    Almacenamiento: 128GB.<br>
                    Camaras: Frontal 16 Mp / Trasera 50+8+2 Mp
                </li>
            </ul>
        </article>
        <span><i class="fa-solid fa-chevron-right"></i></span>
    </section>
    <section>
    <h1>Otros productos</h1><br>
    <ul class="product-list">
        <% for(i= 0; i < products.length; i++) { %>
            <% if (products[i].quantity > 0) { %>
                <a href="/product/<%=products[i].id %>" style="text-decoration: none; color: black;">
                    <li class="product">
                        <ul>
                            <li class="image"><img src="/images/<%=products[i].image %>" alt=""></li>
                            <li><%=products[i].name%></li>
                            <li><%=products[i].price%>$</li>
                            <li style="color: green;">Disponible</li>
                        </ul>
                    </li>
                </a>
            <% } else {%>
            <li class="product">
                <ul>
                    <li class="image"><img src="/images/<%=products[i].image %>" alt=""></li>
                    <li><%=products[i].name%></li>
                    <li><%=products[i].price%>$</li>
                    <li style="color: red;">No Disponible</li>
                </ul>
            </li>
        <% } %>
        <% } %>
    </ul>
    </section>
</main>
<%-include("./partials/footer") %>