<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <section class="login">
        <% if (locals.error) { %>
                <% if (locals.error.username) { %>
                    <p style="color: red;"><%=locals.error.username.msg %></p>
                <% } else if(locals.error.password) {%>
                    <p style="color: red;"><%=locals.error.password.msg %></p>
               <%  } %>
        <% } %>
        <h1 class="login-title">Ingresar</h1>
        <form action="/access" method="post" class="login-form">
            <fieldset>
                <label for="username">Nombre de usuario</label><br>
                <input type="text" name="username">
            </fieldset>
            <fieldset>
                <label for="password">Contraseña</label><br>
                <input type="password" name="password"><br>
            </fieldset>
            <fieldset>
                <input type="checkbox" name="remember" class="checkbox"><label for="remember">Recordarme</label>
            </fieldset>
            <button type="submit">Ingresar</button>
        </form>
    </section>
    <section class="register">
        <h1>Registro</h1>
        <% if (locals.success) { %>
                <p style="color:green"><%=locals.success.msg %></p>
        <% }  else if(locals.error) {%>
            <p style="color: red;"><%=locals.error.msg %></p>
            <% } %>
        <form action="/create" method="post" class="register-form" id="register" enctype="multipart/form-data">
            <fieldset>
                <label for="username">Nombre de usuario</label><br>
                <input type="text" name="username" class="username">
                <p class="error-msg"></p>
            </fieldset>
            <fieldset>
                <label for="email">Email</label><br>
                <input type="email" name="email" class="email">
                <p class="error-msg"></p>
            </fieldset>
            <fieldset>
                <label for="confirm-email">Confirmar email</label><br>
                <input type="email" name="confirm-email" class="repeat-email">
                <p class="error-msg"></p>
            </fieldset>
            <fieldset>
                <label for="file">Avatar</label><br>
                <input type="file" name="file" class="file" style="border:none;">
                <p class="error-msg"></p>
            </fieldset>
            <fieldset>
                <label for="password">Contraseña</label><br>
                <input type="password" name="password" class="password">
                <p class="error-msg"></p>
            </fieldset>
            <fieldset>
                <label for="repeat-password">Repetir contraseña</label><br>
                <input type="password" name="repeat-password" class="repeat-password">
                <p class="error-msg"></p>
            </fieldset>
            <button type="submit">Registrarse</button>
        </form>
    </section>
</main>
<script src="/scripts/login-register.js">
</script>
<%- include("../partials/footer.ejs") %>