<%- include("../partials/head") %> 
<%- include("../partials/header") %>
<main>
    <section class="profile-picture">
        <picture>
            <img src="/images/uploads/<%=user.avatar%>">
        </picture>
        <a href="/profile/edit" style="color: black;"><i class="fa-solid fa-pen-to-square"></i> Editar imagen de perfil</a>
    </section>
    <section class="profile-details">
        <ul>
            <li>Nombre de usuario:<%=user.username %></li>
            <li>Email: <%=user.email %></li>
            <% if (user.isAdmin==1) { %>
                <li>Estado: Admin</li>
            <% } else {%>
                <li>Estado: Usuario</li>
                <% } %>
            <li><form action="/logout" method="post">
                <button type="submit">Desloguearse</button>
            </form>
        </li>
        </ul>
    </section>
</main>
<%- include("../partials/footer") %>